# persamaan linear 3 variabel

Persamaan linear adalah persamaan yang menyatakan hubungan antara variabel dan konstanta umumnya ada beberapa jenis persamaan linear yakni,

1. persamaan satu variabel

seperti namanya persamaan linear satu variabel hanya memiliki satu variabel dengan pangkat 1 dalam bentuk kalimat terbuka dan dapat dihubungkan dengan tanda =.
contoh

ax + b = 0

ket

a = koefisien

b = konstanta

x = variabel

2. persamaan dua variable

seperti halnya namanya persamaan ini memiliki 2 variabel yang berpangkat 1,persamaan 2 variabel biasanya menggunakan relasi = dan tidak akan menggunakan perkalian variabel pada setiap persamaan.

contoh = ax + by = c

3. persamaan 3 variabel

, Secara mudahnya persamaan linear tiga variabel ini adalah bentuk perluasan dari persamaan linier dua variabel.untuk menyelesaikan persamaan linear 3 variabel ini bisa di lakukan dengan 2 cara yaknii metode subtitusi dan metode eliminasi.

ax + by + cz = d

contoh soal

$$
8x_1 + 9x_2 + x_3 = 19\\
x_1 + 2x_2 + 3x_3 = 9\\
2x_1 + x_2 + x_3 = 5
$$

merubahnya menjadi bentuk matriks
\begin{bmatrix}
8 & 9 & 1 & 19\\
1 & 2 & 3 & 9\\
2 & 1 & 1 & 5
\end{bmatrix}

In [ ]:
import numpy as np
A=np.array([[8,9,1,19],[1,2,3,9],[2,1,1,5]])
print(A)

[[ 8  9  1 19]
 [ 1  2  3  9]
 [ 2  1  1  5]]

In [ ]:
def RowSwap(A,k,l):
# =============================================================================
#     A is a NumPy array.  RowSwap will return duplicate array with rows
#     k and l swapped.
# =============================================================================
    m = A.shape[0]  # m is number of rows in A
    n = A.shape[1]  # n is number of columns in A

    B = np.copy(A).astype('float64')

    for j in range(n):
        temp = B[k][j]
        B[k][j] = B[l][j]
        B[l][j] = temp

    return B

def RowScale(A,k,scale):
# =============================================================================
#     A is a NumPy array.  RowScale will return duplicate array with the
#     entries of row k multiplied by scale.
# =============================================================================
    m = A.shape[0]  # m is number of rows in A
    n = A.shape[1]  # n is number of columns in A

    B = np.copy(A).astype('float64')

    for j in range(n):
        B[k][j] *= scale

    return B

def RowAdd(A,k,l,scale):
# =============================================================================
#     A is a numpy array.  RowAdd will return duplicate array with row
#     l modifed.  The new values will be the old values of row l added to
#     the values of row k, multiplied by scale.
# =============================================================================
    m = A.shape[0]  # m is number of rows in A
    n = A.shape[1]  # n is number of columns in A

    B = np.copy(A).astype('float64')

    for j in range(n):
        B[l][j] += B[k][j]*scale

    return B

setelah di rubah maka matriks akan di rubah agar diagonal pada matriks menjadi 1

In [ ]:
import numpy as np
A=np.array([[8,9,1,19],[1,2,3,9],[2,1,1,5]])
print(A)

[[ 8  9  1 19]
 [ 1  2  3  9]
 [ 2  1  1  5]]

In [ ]:
# menggunakan RowSwap untuk menukar posisi baris 0 dan 1
A1 = RowSwap(A,0,1)
print(A1)

[[ 1.  2.  3.  9.]
 [ 8.  9.  1. 19.]
 [ 2.  1.  1.  5.]]

In [ ]:
# merubah bilangan pada baris ke 1 kolom 0 menjadi 0
# yakni dengan cara RowAdd
# menambahkan baris ke 0 dengan baris ke 1 dan sebelum menambahkan dikalikan dengan -8
A2 = RowAdd(A1,0,1,-8)
print(A2)

[[  1.   2.   3.   9.]
 [  0.  -7. -23. -53.]
 [  2.   1.   1.   5.]]

In [ ]:
# merubah bilangan pada baris ke 2 kolom ke 0 menjadi 0
# yakni dengan cara RowAdd
# menambahkan baris ke 0 dengan baris ke 2 dan sebelum menambahkan dikalikan dengan -2
A3 = RowAdd(A2,0,2,-2)
print(A3)

[[  1.   2.   3.   9.]
 [  0.  -7. -23. -53.]
 [  0.  -3.  -5. -13.]]

In [ ]:
# merubah bilangan pada baris ke 1 kolom ke 1 menjadi 1
# dengan cara RowScale
# mengalikan baris pertama dengan -1/7
A4 = RowScale(A3,1,-1/7)
print(A4)

[[  1.           2.           3.           9.        ]
 [ -0.           1.           3.28571429   7.57142857]
 [  0.          -3.          -5.         -13.        ]]

In [ ]:
# merubah bilangan pada baris ke 2 kolom ke 1 menjadi 0
# yakni dengan cara RowAdd
# menambahkan baris ke 1 dengan baris ke 2 dan sebelum menambahkan dikalikan dengan 3
A5 = RowAdd(A4,1,2,3)
print(A5)

[[ 1.          2.          3.          9.        ]
 [-0.          1.          3.28571429  7.57142857]
 [ 0.          0.          4.85714286  9.71428571]]

In [ ]:
# merubah bilangan pada baris ke 2 kolom ke 3 menjadi 1
# dengan cara RowScale
# mengalikan baris ke 2 dengan 1/4.85714286
A6 = RowScale(A5,2,1/4.85714286)
print(A6)

[[ 1.          2.          3.          9.        ]
 [-0.          1.          3.28571429  7.57142857]
 [ 0.          0.          1.          2.        ]]

persamaannya adalah
$$
x_1+2x_2+3x_3=9\\
x_2+3.28571429x_3=7.57142857\\
x_3=2\\
$$

setelah menjadi diagonal dg angka 1 maka di kembalikan menjadi persamaan setelah itu tentukan$$x_1,x_2,x_3$$

In [ ]:
x3 = 2
print('x3 =',x3)
x2=7.57142857 - (3.28571429*x3)
print('x2 =',round(x2))
x1=9 - 2*x2 - 3 *x3
print('x1 =',round(x1))

x3 = 2
x2 = 1
x1 = 1